.about-img-ceo {
    margin-top: 10px;
    margin-left: 70px;
    border-radius: 30%;
    max-width: auto;
    max-height: 500px;
    align-content: center;
}

.call-perfil {
    margin-top: 10px;
    padding: 30px;
    max-width: auto;
    max-height: 500px;
    align-content: center;
}

.call-perfil p {
    margin-top: 20px;
}

.about-img {
    margin-left: 40px;
    width: 40px;
    height: 40px;
}

.flex-proyects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.button-proyect {
    margin-top: 5px !important;    
}

.row-cardbody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin: 5px;
}